.form-container {
  max-width: 20%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto;
  grid-template-areas: 
    ". header ."
    ". cards ."
    ". notifications .";
}

.welcome-header {
  margin-top: 15px;
  grid-area: header;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  grid-area: cards;
}

.card {
  width: 30%;
}

.notifications-container {
  grid-area: notifications;
}